#board{
  background: #ffc575;
  >.chess{
    border: 1px solid black;
    &[candidate=t]{
      border: 2px dotted #0037ff;
    }
    &[color=white]{
      background: white;
    }
    &[color=black]{
      background: black;
    }
  }
  >.dialog{
    background: rgba(0, 0, 0, 60%);
  }
}